{% extends "_base.html" %}
{% load static %}

{% block page_title %}
Detail {{post.id}}
{% endblock page_title %}

{% block page_onscreen_title %}
{{post.title}}
{% endblock page_onscreen_title %}

{% block page_onscreen_title_detail %}
                    <p class="post-meta">
                        Posted by
                    {{post.author}} on 
                                {{post.datetime_modified}}
                    </p>
{% endblock page_onscreen_title_detail %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
            <h3>Post Text: </h3>
                {{post.text}}<br><br><br>
                <a class= "btn btn-danger" href="{% url 'delete' post.id %}" role = 'button'>Delete</a>
                 <a class= "btn btn-warning" href="{% url 'update_post' post.id %}" role = 'button'>Edit</a>

            </div>
            
        </div>
    </div>    
</div>


{% endblock content %}
{% block page_img %}
    {% static 'assets/img/post-bg.jpg' %}
{% endblock page_img %}